In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv(r"C:\Users\Priyansh Singh\Desktop\Job Market\data\processed\processed.csv")

In [4]:
features = ["title", "company", "skills_raw", "city", "experience_level", "employment_type"]
target = "salary_avg"

In [5]:
df

,job_id,title,company,source,posted_date,employment_type,description,url,salary_avg,city,job_numeric_id
0,PbE618SSbHgPTVAKAAAAAA==,"2025-Data Analyst, Predictive Analytics, India...",Boston Consulting Group,Boston Consulting Group,2025-12-01,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,https://careers.bcg.com/jp/ja/job/53171/2025-D...,3.0,Gurugram,1
1,zV93trEoIQjSUDlyAAAAAA==,Data Analyst Trainee,SparkNovaTechSolutions,LinkedIn,2025-12-02,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,https://in.linkedin.com/jobs/view/data-analyst...,7.0,Jaipur,2
2,Jn6VdTB3O9gjgy1KAAAAAA==,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",Jobgether,JobTarget,2025-12-01,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",https://www.jobtarget.com/jobs/jt-xeiu7ynnwy/s...,1.0,IN,3
3,W8OFKr8XJhIoINtIAAAAAA==,Data Analyst - Ecommerce & D2C Insights,Wholsum Foods (Slurrp Farm and Mille),LinkedIn,2025-12-02,full-time,Job Description: Data Analyst - Ecommerce & D2...,https://in.linkedin.com/jobs/view/data-analyst...,4.5,Gurugram,4
4,436YlVClQp5n922IAAAAAA==,Senior Data Analyst-Payments,Roku,Roku Jobs,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,https://www.weareroku.com/jobs/senior-data-ana...,1.0,Bengaluru,5
...,...,...,...,...,...,...,...,...,...,...,...
1382,1XoDGfrxMU540ZM-AAAAAA==,Data Engineer-Python Pyspark Panda,LTIMindtree,Shine,2025-12-01,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,https://www.shine.com/jobs/data-engineer-pytho...,7.5,Hyderabad,1383
1383,eaksP_IlY3H1QvnKAAAAAA==,"Lead, Tech (Python Infra)",D. E. Shaw India,D. E. Shaw India,2025-12-03,full-time,We are looking for a Software Developer to joi...,https://www.deshawindia.com/careers/lead-tech-...,7.0,Hyderabad,1384
1384,OkJDMhqSUCzjQOZIAAAAAA==,Senior Python Developer,Luxoft,Luxoft,2025-11-30,full-time,Project description\n\nWe're seeking a strong ...,https://career.luxoft.com/jobs/senior-python-d...,6.0,Hyderabad,1385
1385,jvvk3PnZZEFEc-FvAAAAAA==,Python Developer with Dagster,Staffington Global,LinkedIn,2025-11-25,full-time,Job Description:-\n\nJob Role: Python Develope...,https://in.linkedin.com/jobs/view/python-devel...,5.0,Hyderabad,1386
1386,gyhbq0tN8hSVXIf0AAAAAA==,Python developer with Azure,People Prime Worldwide,Shine,2025-11-28,full-time,You are a skilled and motivated Python Develop...,https://www.shine.com/jobs/python-developer-wi...,9.0,Hyderabad,1387

In [6]:
df["title"] = df["title"].str.replace(r"\d{4}", "", regex=True)
df["title"] = df["title"].str.replace(r"[-(),]", " ", regex=True)
df["title"] = df["title"].str.lower().str.strip()

In [7]:
df

,job_id,title,company,source,posted_date,employment_type,description,url,salary_avg,city,job_numeric_id
0,PbE618SSbHgPTVAKAAAAAA==,data analyst predictive analytics india x d...,Boston Consulting Group,Boston Consulting Group,2025-12-01,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,https://careers.bcg.com/jp/ja/job/53171/2025-D...,3.0,Gurugram,1
1,zV93trEoIQjSUDlyAAAAAA==,data analyst trainee,SparkNovaTechSolutions,LinkedIn,2025-12-02,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,https://in.linkedin.com/jobs/view/data-analyst...,7.0,Jaipur,2
2,Jn6VdTB3O9gjgy1KAAAAAA==,sr. data analyst adtech/omnichannel remote ...,Jobgether,JobTarget,2025-12-01,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",https://www.jobtarget.com/jobs/jt-xeiu7ynnwy/s...,1.0,IN,3
3,W8OFKr8XJhIoINtIAAAAAA==,data analyst ecommerce & d2c insights,Wholsum Foods (Slurrp Farm and Mille),LinkedIn,2025-12-02,full-time,Job Description: Data Analyst - Ecommerce & D2...,https://in.linkedin.com/jobs/view/data-analyst...,4.5,Gurugram,4
4,436YlVClQp5n922IAAAAAA==,senior data analyst payments,Roku,Roku Jobs,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,https://www.weareroku.com/jobs/senior-data-ana...,1.0,Bengaluru,5
...,...,...,...,...,...,...,...,...,...,...,...
1382,1XoDGfrxMU540ZM-AAAAAA==,data engineer python pyspark panda,LTIMindtree,Shine,2025-12-01,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,https://www.shine.com/jobs/data-engineer-pytho...,7.5,Hyderabad,1383
1383,eaksP_IlY3H1QvnKAAAAAA==,lead tech python infra,D. E. Shaw India,D. E. Shaw India,2025-12-03,full-time,We are looking for a Software Developer to joi...,https://www.deshawindia.com/careers/lead-tech-...,7.0,Hyderabad,1384
1384,OkJDMhqSUCzjQOZIAAAAAA==,senior python developer,Luxoft,Luxoft,2025-11-30,full-time,Project description\n\nWe're seeking a strong ...,https://career.luxoft.com/jobs/senior-python-d...,6.0,Hyderabad,1385
1385,jvvk3PnZZEFEc-FvAAAAAA==,python developer with dagster,Staffington Global,LinkedIn,2025-11-25,full-time,Job Description:-\n\nJob Role: Python Develope...,https://in.linkedin.com/jobs/view/python-devel...,5.0,Hyderabad,1386
1386,gyhbq0tN8hSVXIf0AAAAAA==,python developer with azure,People Prime Worldwide,Shine,2025-11-28,full-time,You are a skilled and motivated Python Develop...,https://www.shine.com/jobs/python-developer-wi...,9.0,Hyderabad,1387

In [8]:
def extract_seniority(title):
    if "intern" in title:
        return "intern"
    if "junior" in title or "jr" in title:
        return "junior"
    if "senior" in title or "sr" in title:
        return "senior"
    if "lead" in title:
        return "lead"
    if "manager" in title:
        return "manager"
    if "principal" in title:
        return "principal"
    return "mid"

df["seniority_level"] = df["title"].apply(extract_seniority)

In [9]:
df

,job_id,title,company,source,posted_date,employment_type,description,url,salary_avg,city,job_numeric_id,seniority_level
0,PbE618SSbHgPTVAKAAAAAA==,data analyst predictive analytics india x d...,Boston Consulting Group,Boston Consulting Group,2025-12-01,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,https://careers.bcg.com/jp/ja/job/53171/2025-D...,3.0,Gurugram,1,mid
1,zV93trEoIQjSUDlyAAAAAA==,data analyst trainee,SparkNovaTechSolutions,LinkedIn,2025-12-02,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,https://in.linkedin.com/jobs/view/data-analyst...,7.0,Jaipur,2,mid
2,Jn6VdTB3O9gjgy1KAAAAAA==,sr. data analyst adtech/omnichannel remote ...,Jobgether,JobTarget,2025-12-01,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",https://www.jobtarget.com/jobs/jt-xeiu7ynnwy/s...,1.0,IN,3,senior
3,W8OFKr8XJhIoINtIAAAAAA==,data analyst ecommerce & d2c insights,Wholsum Foods (Slurrp Farm and Mille),LinkedIn,2025-12-02,full-time,Job Description: Data Analyst - Ecommerce & D2...,https://in.linkedin.com/jobs/view/data-analyst...,4.5,Gurugram,4,mid
4,436YlVClQp5n922IAAAAAA==,senior data analyst payments,Roku,Roku Jobs,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,https://www.weareroku.com/jobs/senior-data-ana...,1.0,Bengaluru,5,senior
...,...,...,...,...,...,...,...,...,...,...,...,...
1382,1XoDGfrxMU540ZM-AAAAAA==,data engineer python pyspark panda,LTIMindtree,Shine,2025-12-01,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,https://www.shine.com/jobs/data-engineer-pytho...,7.5,Hyderabad,1383,mid
1383,eaksP_IlY3H1QvnKAAAAAA==,lead tech python infra,D. E. Shaw India,D. E. Shaw India,2025-12-03,full-time,We are looking for a Software Developer to joi...,https://www.deshawindia.com/careers/lead-tech-...,7.0,Hyderabad,1384,lead
1384,OkJDMhqSUCzjQOZIAAAAAA==,senior python developer,Luxoft,Luxoft,2025-11-30,full-time,Project description\n\nWe're seeking a strong ...,https://career.luxoft.com/jobs/senior-python-d...,6.0,Hyderabad,1385,senior
1385,jvvk3PnZZEFEc-FvAAAAAA==,python developer with dagster,Staffington Global,LinkedIn,2025-11-25,full-time,Job Description:-\n\nJob Role: Python Develope...,https://in.linkedin.com/jobs/view/python-devel...,5.0,Hyderabad,1386,mid
1386,gyhbq0tN8hSVXIf0AAAAAA==,python developer with azure,People Prime Worldwide,Shine,2025-11-28,full-time,You are a skilled and motivated Python Develop...,https://www.shine.com/jobs/python-developer-wi...,9.0,Hyderabad,1387,mid

In [26]:
import re

ROLE_PATTERNS = {
    # === ANALYST / DATA ===
    "data analyst": [
        "data analyst", "data analytics analyst", "online data analyst","analytics",
        "sports data analyst", "sustainability data analyst",
        "supply chain data analyst", "medical data analyst",
        "typing & data entry data analyst", "portfolio data analyst",
        "student success data analyst", "battery software data analyst",
        "nutrition data analyst", "hospitality data analyst",
    ],
    "business analyst": [
        "business analyst", "ba ", "ba/", "business analysis",
        "business operations analyst", "business systems analyst",
        "business data analyst", "business analytics analyst",
        "business analytics", "strategic business analyst",
    ],
    "product analyst": ["product analyst"],
    "operations analyst": ["operations analyst", "ops analyst"],
    "marketing analyst": ["marketing analytics", "marketing analyst"],
    "finance analyst": ["finance analyst", "financial analyst"],
    "risk analyst": ["risk analyst", "fraud & risk data analyst"],
    "reporting analyst": ["reporting analyst", "reporting & analytics"],

    # === BI / REPORTING ===
    "bi analyst": [
        "bi analyst", "business intelligence analyst",
        "business intelligence engineer", "bi developer",
        "bi specialist", "bi reporting analyst",
        "bi engineer", "bie ","power bi"'"bi
    ],
    "analytics engineer": [
        "analytics engineer", "data analytics engineer",
        "marketing analytics engineer","analyst"
    ],

    # === SCIENCE / STATISTICS / MATH ===
    "data scientist": [
        "data scientist", "applied scientist", "ml scientist",
        "data and applied scientist"
    ],
    "statistician": [
        "statistician", "bio statistician", "biostatistician",
        "statistical analyst", "statistical programmer",
        "statistical data scientist"
    ],
    "mathematician": [
        "mathematical statistician", "mathematician"
    ],

    # === ML / AI / DS ENGINEERING ===
    "ml engineer": [
        "ml engineer", "machine learning engineer", "mlops engineer","ml developer","ml",
        "machine learning ops", "mlops", "sr ml engineer"
    ],
    "ai engineer": [
        "ai engineer", "artificial intelligence engineer","agentic","ai",
        "ai/ml engineer", "ai ml engineer", "ai developer",
        "ai scientist", "gen ai engineer", "generative ai engineer"
    ],
    "deep learning engineer": [
        "deep learning engineer", "aiml and deep learning"
    ],
    "computer vision engineer": [
        "computer vision engineer", "computer vision and machine learning engineer"
    ],
    "nlp engineer": [
        "nlp engineer", "nlp analyst"
    ],

    # === ENGINEERING / ARCHITECTURE ===
    "data engineer": [
        "data engineer", "data & ml engineer", "big data engineer"
    ],
    "data architect": [
        "data architect", "data architecture", "data platform architect",
        "data solution architect", "enterprise data architect"
    ],
    "cloud architect": [
        "cloud data architect", "cloud solution architect",
        "aws data architect", "gcp data architect",
        "azure data architect", "cloud architect"
    ],
    "solution architect": [
        "solution architect", "solutions architect"
    ],
    "analytics architect": [
        "analytics architect", "analytics as service architect"
    ],

    # === PYTHON / SOFTWARE ===
    "python developer": [
        "python developer", "python backend developer",
        "python programmer", "python engineer",
        "python / django developer", "full stack python developer",
        "python data engineer", "python api"
    ],
    "software engineer": [
        "software engineer", "backend developer", "full stack developer",
        "senior software engineer", "sde ", "developer   ror & python"
    ],

    # === OTHERS RELATED ===
    "data analyst trainee": ["data analyst trainee", "trainee data analyst"],
    "intern": ["intern", "internship", "apprentice", "undergraduate intern"],
    "data architect/engineer": ["data architectengineer"],
    "researcher":["researcher","research"]
}

def extract_roles_from_title(title: str):
    t = str(title).lower()
    found = set()

    for canonical_role, patterns in ROLE_PATTERNS.items():
        for p in patterns:
            # simple containment match
            if p.lower() in t:
                found.add(canonical_role)
                break  # don't need to match further patterns for this role

    if not found:
        return "other"
    return ", ".join(sorted(found))

df["clean_role"] = df["title"].apply(extract_roles_from_title)

In [27]:
df

,job_id,title,company,source,posted_date,employment_type,description,url,salary_avg,city,job_numeric_id,seniority_level,clean_role
0,PbE618SSbHgPTVAKAAAAAA==,data analyst predictive analytics india x d...,Boston Consulting Group,Boston Consulting Group,2025-12-01,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,https://careers.bcg.com/jp/ja/job/53171/2025-D...,3.0,Gurugram,1,mid,data analyst
1,zV93trEoIQjSUDlyAAAAAA==,data analyst trainee,SparkNovaTechSolutions,LinkedIn,2025-12-02,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,https://in.linkedin.com/jobs/view/data-analyst...,7.0,Jaipur,2,mid,"ai engineer, data analyst, data analyst trainee"
2,Jn6VdTB3O9gjgy1KAAAAAA==,sr. data analyst adtech/omnichannel remote ...,Jobgether,JobTarget,2025-12-01,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",https://www.jobtarget.com/jobs/jt-xeiu7ynnwy/s...,1.0,IN,3,senior,data analyst
3,W8OFKr8XJhIoINtIAAAAAA==,data analyst ecommerce & d2c insights,Wholsum Foods (Slurrp Farm and Mille),LinkedIn,2025-12-02,full-time,Job Description: Data Analyst - Ecommerce & D2...,https://in.linkedin.com/jobs/view/data-analyst...,4.5,Gurugram,4,mid,data analyst
4,436YlVClQp5n922IAAAAAA==,senior data analyst payments,Roku,Roku Jobs,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,https://www.weareroku.com/jobs/senior-data-ana...,1.0,Bengaluru,5,senior,data analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,1XoDGfrxMU540ZM-AAAAAA==,data engineer python pyspark panda,LTIMindtree,Shine,2025-12-01,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,https://www.shine.com/jobs/data-engineer-pytho...,7.5,Hyderabad,1383,mid,data engineer
1383,eaksP_IlY3H1QvnKAAAAAA==,lead tech python infra,D. E. Shaw India,D. E. Shaw India,2025-12-03,full-time,We are looking for a Software Developer to joi...,https://www.deshawindia.com/careers/lead-tech-...,7.0,Hyderabad,1384,lead,other
1384,OkJDMhqSUCzjQOZIAAAAAA==,senior python developer,Luxoft,Luxoft,2025-11-30,full-time,Project description\n\nWe're seeking a strong ...,https://career.luxoft.com/jobs/senior-python-d...,6.0,Hyderabad,1385,senior,python developer
1385,jvvk3PnZZEFEc-FvAAAAAA==,python developer with dagster,Staffington Global,LinkedIn,2025-11-25,full-time,Job Description:-\n\nJob Role: Python Develope...,https://in.linkedin.com/jobs/view/python-devel...,5.0,Hyderabad,1386,mid,python developer
1386,gyhbq0tN8hSVXIf0AAAAAA==,python developer with azure,People Prime Worldwide,Shine,2025-11-28,full-time,You are a skilled and motivated Python Develop...,https://www.shine.com/jobs/python-developer-wi...,9.0,Hyderabad,1387,mid,python developer

In [28]:
df.to_csv("jobs_for_analysis.csv", index=False)
print("Saved jobs_for_analysis.csv")

Saved jobs_for_analysis.csv