In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
import re
from sklearn.metrics import r2_score, mean_absolute_error

df = pd.read_csv(r"C:\Users\Priyansh Singh\Desktop\Job Market\data\processed\jobs_for_model.csv")

In [2]:
df

,title,company,posted_date,employment_type,description,salary_avg,city,seniority_level,clean_role,clean_title,Unnamed: 10,clean_seniority
0,data analyst predictive analytics india x d...,Boston Consulting Group,01-12-2025,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,3.0,Gurugram,mid,"analytics engineer, data analyst",Data Analyst Predictive Analytics,NaN,mid
1,data analyst trainee,SparkNovaTechSolutions,02-12-2025,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,7.0,Jaipur,mid,"ai engineer, analytics engineer, data analyst,...",Data Analyst Trainee,NaN,junior
2,sr. data analyst adtech/omnichannel remote ...,Jobgether,01-12-2025,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",1.0,IN,senior,"analytics engineer, data analyst",Senior Data Analyst /,NaN,senior
3,data analyst ecommerce & d2c insights,Wholsum Foods (Slurrp Farm and Mille),02-12-2025,full-time,Job Description: Data Analyst - Ecommerce & D2...,4.5,Gurugram,mid,"analytics engineer, data analyst",Data Analyst & D2C,NaN,mid
4,senior data analyst payments,Roku,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,1.0,Bengaluru,senior,"analytics engineer, data analyst",Senior Data Analyst Payments,NaN,senior
...,...,...,...,...,...,...,...,...,...,...,...,...
1382,data engineer python pyspark panda,LTIMindtree,01-12-2025,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,7.5,Hyderabad,mid,data engineer,Data Engineer Python Pyspark Panda,NaN,mid
1383,lead tech python infra,D. E. Shaw India,03-12-2025,full-time,We are looking for a Software Developer to joi...,7.0,Hyderabad,lead,other,Lead Tech Python Infra,NaN,senior
1384,senior python developer,Luxoft,30-11-2025,full-time,Project description\n\nWe're seeking a strong ...,6.0,Hyderabad,senior,python developer,Senior Python Developer,NaN,senior
1385,python developer with dagster,Staffington Global,25-11-2025,full-time,Job Description:-\n\nJob Role: Python Develope...,5.0,Hyderabad,mid,python developer,Python Developer With Dagster,NaN,mid
1386,python developer with azure,People Prime Worldwide,28-11-2025,full-time,You are a skilled and motivated Python Develop...,9.0,Hyderabad,mid,python developer,Python Developer With Azure,NaN,mid

In [3]:
df=df.drop(columns=["Unnamed: 10"])

In [4]:
df

,title,company,posted_date,employment_type,description,salary_avg,city,seniority_level,clean_role,clean_title,clean_seniority
0,data analyst predictive analytics india x d...,Boston Consulting Group,01-12-2025,full-time,Locations: Bengaluru | Gurgaon\n\nWho We Are\n...,3.0,Gurugram,mid,"analytics engineer, data analyst",Data Analyst Predictive Analytics,mid
1,data analyst trainee,SparkNovaTechSolutions,02-12-2025,full-time,ABOUT THE ROLE\n\nWe are seeking a highly moti...,7.0,Jaipur,mid,"ai engineer, analytics engineer, data analyst,...",Data Analyst Trainee,junior
2,sr. data analyst adtech/omnichannel remote ...,Jobgether,01-12-2025,full-time,"Sr. Data Analyst, AdTech/Omnichannel (Remote, ...",1.0,IN,senior,"analytics engineer, data analyst",Senior Data Analyst /,senior
3,data analyst ecommerce & d2c insights,Wholsum Foods (Slurrp Farm and Mille),02-12-2025,full-time,Job Description: Data Analyst - Ecommerce & D2...,4.5,Gurugram,mid,"analytics engineer, data analyst",Data Analyst & D2C,mid
4,senior data analyst payments,Roku,NaN,full-time,Teamwork makes the stream work.\n\nRoku is cha...,1.0,Bengaluru,senior,"analytics engineer, data analyst",Senior Data Analyst Payments,senior
...,...,...,...,...,...,...,...,...,...,...,...
1382,data engineer python pyspark panda,LTIMindtree,01-12-2025,full-time,**Role Overview:**\n\nAs a Data Engineer with ...,7.5,Hyderabad,mid,data engineer,Data Engineer Python Pyspark Panda,mid
1383,lead tech python infra,D. E. Shaw India,03-12-2025,full-time,We are looking for a Software Developer to joi...,7.0,Hyderabad,lead,other,Lead Tech Python Infra,senior
1384,senior python developer,Luxoft,30-11-2025,full-time,Project description\n\nWe're seeking a strong ...,6.0,Hyderabad,senior,python developer,Senior Python Developer,senior
1385,python developer with dagster,Staffington Global,25-11-2025,full-time,Job Description:-\n\nJob Role: Python Develope...,5.0,Hyderabad,mid,python developer,Python Developer With Dagster,mid
1386,python developer with azure,People Prime Worldwide,28-11-2025,full-time,You are a skilled and motivated Python Develop...,9.0,Hyderabad,mid,python developer,Python Developer With Azure,mid

In [8]:
df=df.drop(columns=["title","posted_date","description"])

In [9]:
df

,company,employment_type,salary_avg,city,seniority_level,clean_role,clean_title,clean_seniority
0,Boston Consulting Group,full-time,3.0,Gurugram,mid,"analytics engineer, data analyst",Data Analyst Predictive Analytics,mid
1,SparkNovaTechSolutions,full-time,7.0,Jaipur,mid,"ai engineer, analytics engineer, data analyst,...",Data Analyst Trainee,junior
2,Jobgether,full-time,1.0,IN,senior,"analytics engineer, data analyst",Senior Data Analyst /,senior
3,Wholsum Foods (Slurrp Farm and Mille),full-time,4.5,Gurugram,mid,"analytics engineer, data analyst",Data Analyst & D2C,mid
4,Roku,full-time,1.0,Bengaluru,senior,"analytics engineer, data analyst",Senior Data Analyst Payments,senior
...,...,...,...,...,...,...,...,...
1382,LTIMindtree,full-time,7.5,Hyderabad,mid,data engineer,Data Engineer Python Pyspark Panda,mid
1383,D. E. Shaw India,full-time,7.0,Hyderabad,lead,other,Lead Tech Python Infra,senior
1384,Luxoft,full-time,6.0,Hyderabad,senior,python developer,Senior Python Developer,senior
1385,Staffington Global,full-time,5.0,Hyderabad,mid,python developer,Python Developer With Dagster,mid
1386,People Prime Worldwide,full-time,9.0,Hyderabad,mid,python developer,Python Developer With Azure,mid

In [12]:
import pandas as pd
# Define skill mapping based on role keywords
skill_map = {
    "data analyst": ["python", "sql", "excel", "tableau", "power bi", "statistics"],
    "analytics engineer": ["sql", "dbt", "python", "airflow", "snowflake"],
    "ai engineer": ["python", "machine learning", "deep learning", "tensorflow", "pytorch"],
    "data engineer": ["python", "sql", "spark", "airflow", "aws"],
    "python developer": ["python", "django", "flask", "rest api", "git"],
    "other": ["python", "sql"]
}

# Function to assign skills based on clean_role
def assign_skills(role):
    for key in skill_map:
        if key in role.lower():
            return ", ".join(skill_map[key])
    return ", ".join(skill_map["other"])

# Create the new column
df["skills"] = df["clean_role"].apply(assign_skills)

print("Skills column successfully added!")

Skills column successfully added!

In [13]:
df

,company,employment_type,salary_avg,city,seniority_level,clean_role,clean_title,clean_seniority,skills
0,Boston Consulting Group,full-time,3.0,Gurugram,mid,"analytics engineer, data analyst",Data Analyst Predictive Analytics,mid,"python, sql, excel, tableau, power bi, statistics"
1,SparkNovaTechSolutions,full-time,7.0,Jaipur,mid,"ai engineer, analytics engineer, data analyst,...",Data Analyst Trainee,junior,"python, sql, excel, tableau, power bi, statistics"
2,Jobgether,full-time,1.0,IN,senior,"analytics engineer, data analyst",Senior Data Analyst /,senior,"python, sql, excel, tableau, power bi, statistics"
3,Wholsum Foods (Slurrp Farm and Mille),full-time,4.5,Gurugram,mid,"analytics engineer, data analyst",Data Analyst & D2C,mid,"python, sql, excel, tableau, power bi, statistics"
4,Roku,full-time,1.0,Bengaluru,senior,"analytics engineer, data analyst",Senior Data Analyst Payments,senior,"python, sql, excel, tableau, power bi, statistics"
...,...,...,...,...,...,...,...,...,...
1382,LTIMindtree,full-time,7.5,Hyderabad,mid,data engineer,Data Engineer Python Pyspark Panda,mid,"python, sql, spark, airflow, aws"
1383,D. E. Shaw India,full-time,7.0,Hyderabad,lead,other,Lead Tech Python Infra,senior,"python, sql"
1384,Luxoft,full-time,6.0,Hyderabad,senior,python developer,Senior Python Developer,senior,"python, django, flask, rest api, git"
1385,Staffington Global,full-time,5.0,Hyderabad,mid,python developer,Python Developer With Dagster,mid,"python, django, flask, rest api, git"
1386,People Prime Worldwide,full-time,9.0,Hyderabad,mid,python developer,Python Developer With Azure,mid,"python, django, flask, rest api, git"

In [14]:
df = df[[
    "company", 
    "employment_type", 
    "city", 
    "seniority_level", 
    "clean_role", 
    "salary_avg",
    "skills"
]]

In [15]:
X = df[["company", "employment_type", "city", "seniority_level", "clean_role"]]
y = df["salary_avg"]

In [16]:
categorical_cols = ["company", "employment_type", "city", "seniority_level", "clean_role"]

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols)
    ]
)

In [19]:
model = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("regressor", RandomForestRegressor(n_estimators=400, random_state=42))
])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model.fit(X_train, y_train)

print("Model Accuracy (R2):", model.score(X_test, y_test))

Model Accuracy (R2): 0.14945762795741702

In [ ]:
def predict_salary(company, employment_type, city, seniority_level, clean_role):
    input_df = pd.DataFrame([{
        "company": company,
        "employment_type": employment_type,
        "city": city,
        "seniority_level": seniority_level,
        "clean_role": clean_role
    }])
    
    salary = model.predict(input_df)[0]
    return round(salary, 2)